<article class="event-excerpt">
    <a href="{{ event.url() }}">

        <time class="h5" datetime="{{ event.date().toDate('c') }}">
            {{ event.date().toDate('d/m/Y') }}
        </time>

        <h4 class="event-excerpt-title">{{ event.title().esc() }}</h4>

        <figure class="img" style="--w: 16; --h:9">

            {% set coverImage = event.cover.toFile() %}

            {% if coverImage %}
                <img src="{{ coverImage.url() }}" class="img"
                     style="--w:2; --h:1">
            {% endif %}

        </figure>

        <p class="h6">
            {{ event.description.excerpt(280) }}
        </p>
    </a>
</article>
