{% set events = page('events')
    .children()
    .listed()
    .sortBy('date', 'desc') %}

{% set darkmode = false %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{{ site.title.esc() }} | {{ page.title.esc() }}</title>

    {{ css([
        'assets/css/prism.css',
        'assets/css/lightbox.css',
        'assets/css/index.css',
        '@auto'
    ]) }}

    <link rel="shortcut icon" type="image/x-icon" href="{{ url('favicon.ico') }}">

    {#    {{ source('@snippets/collections.twig') }} #}
    {#    {% include '@snippets/collections.twig' %} #}
    {#    {% extends '@snippets/collections.twig' %} #}
    {# Collections #}
    {% block head %}

    {% endblock head %}

</head>

<body>

{% block header %}
    {% include '@snippets/header.twig' %}
{% endblock %}

<main class="main">
    {% block content %}
        <article>
            <h1 class="h1">{{ page.title.esc() }}</h1>

            {% block blocks %}
                <div class="text">
                    {% for block in page.text.toBLocks() %}
                        <div id="{{ block.type }}" class="block block-type-{{ block.type }}">
                            {{ block | raw }}
                        </div>
                    {% endfor %}
                    {#                {{ page.text.toBlocks() | raw }} #}
                </div>
            {% endblock blocks %}

        </article>
    {% endblock %}
</main>

{% block footer %}

    {#    {% if darkmode %} #}
    {#        {% include '@snippets/footer.dark.twig'%} #}
    {#    {% else %} #}
    {#        {% include '@snippets/footer.twig' %} #}
    {#    {% endif %} #}

    {% include '@snippets/footer.twig' %}


{% endblock %}

{{ js([
    'assets/js/prism.js',
    'assets/js/lightbox.js',
    'assets/js/index.js',
    '@auto'
]) }}

</body>
</html>