{% extends 'events.twig' %}

{% block content %}
    <article class="event">
        <header class="event-header">
            <h1 class="event-title">{{ page.title.esc() }}</h1>
            <div class="autogrid">
                <div class="column">

                    <time class="h5" datetime="{{ page.date.toDate('c') }}">
                        {{ page.date.toDate('d/m/Y') }}
                    </time>
                    <br/>

                    <a class="h5" href="{{ page.content().link() }}">Link</a>
                    <br/>

                    <p class="h6">{{ page.description }}</p>
                </div>
                <div class="column">
                    <div>
                        {% set coverImage = page.cover.toFile() %}

                        {% if coverImage %}
                            {% set coverUrl = coverImage.url() %}
                        {% else %}
                            {% set coverUrl = "" %}
                        {% endif %}

                        {% if page.cover %}
                            <img src="{{ coverUrl|replace({' ': '%20'}) }}" class="img"
                                 style="--w:2; --h:1">
{#                            {{ page.cover.crop(1200, 600) }}#}

                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="event text">{{ page.text.kt | raw }}</div>

    </article>
{% endblock %}